@import "styles/variables";

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 16px;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  background-color: $bg-blue-900;
  color: $white;
  cursor: pointer;
  font-style: normal;
  margin: 3px;
  transition: 100ms;
  white-space: nowrap;

  &:hover {
    background-color: $bg-blue-100;
  }

  &:active {
    transform: translateY(2px);
  }

  img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .icon {
    height: 16px;
    width: 16px;
    margin-left: 8px;
  }
}

.button-disabled {
  background-color: $bg-tertiary-gray;
  width: fit-content;

  &:hover {
    background-color: $bg-tertiary-gray;
  }

  &:active {
    transform: translateY(0);
  }
}
