$primary-font: "DM Sans";

// background-colors
$bg-blue-900: #142683;
$bg-blue-600: #5b67a8;
$bg-blue-100: #1e38c1;
$bg-dark-transparent: rgba(30, 39, 46, 0.7);
$bg-medium-gray: #ebf0f5;
$bg-tertiary-gray: #9eaab7;
$bg-hover-blue: #E2EFFC;
$bg-bluish-white: #f6f8ff;
$bg-light-gray: #f7f8fa;
$bg-gray: gray;

// color
$white: #ffff;

// text-color
$text-red: #fb5e5e;
$text-dark: #1e272e;
$text-primary-blue: #142683;
$text-light-gray: #9eaab7;

//  breakpoint
$xs: "360px";
$sm: "480px";
$md: "770px";
$lg: "960px";
$xl: "1152px";
$xxl: "1344px";