@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
@import "styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $primary-font;
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
}

.icon-on-hover {
  &:hover {
    background: $bg-hover-blue;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (min-width: $md) {
  .custom-scroll {
    &::-webkit-scrollbar-track {
      box-shadow: none !important;
      background-color: transparent;
      cursor: default !important;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      cursor: default !important;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bg-medium-gray;
      border-radius: 10px;
      cursor: default !important;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $bg-gray;
    }
  }
}
